.navbar {

    background-color: #024b4b;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.menu-bars {

    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    
}

.nav-menu {

    background-color:  #011a1a;
    width: 170px;
    height: 100vh;
    justify-content: left;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 250ms;
}

.nav-text {
   display: flex;
   justify-content: flex-start;
   align-items: left;
   padding: 8px 0px 8px 4px;
   list-style: none;
   height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 15px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 4px;
    border-radius: 4px;

}

.nav-text a:hover{

    background-color: #1a83ff;
    padding: 0 4px;

}

.nav-menu-items {

    width: 100%;
}


.navbar-toggle {

    background-color:  #011a1a;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}


span {
    margin-left: 8px;



}

.images {

    height: 40px;
    width: 60px; 
   
    align-items: right;
    padding: 8px 0px 8px 10px;
}


.tmnaimg{

    height: 30px;
    width: 100px; 
    display: inline-block;
    margin: 25px 50px;

}
.close {

    
    color: #f5f5f5;
}

.bars {

    color: #f5f5f5;
}

.toolbar_logo {
    margin-left: 0rem;

}

.toolbar_logo a {
 
    display: flexbox;
    color: rgb(56, 212, 186);
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Lato' , san-serif;

}

.toolbar_logo a:hover {


    color: white;
    text-decoration: none;

}

.toolbar_navigation_lists a{
 
    display: flexbox;
    color: rgb(56, 212, 186);
    text-decoration: none;
    font-size: 15px;
    font-style: normal;
    font-family: 'Lato' , san-serif;
}



.toolbar_navigation_lists a:hover,
.toolbar_navigation_lists a:active {
   color: white;
   text-decoration: none;

}

.toolbar_navigation_lists ul{

    padding:0;
    display:flex;
    list-style: none;
    margin: 0;

}

.toolbar_navigation_lists li{

    padding:0 0.5rem;
    display:flex;
    list-style: none;
    margin: 0;

}

.toolbar_sidebar_lists {


    align-items: left;
    
    list-style: none;
    
   


}


.toolbar_sidebar_lists a{
 
    text-decoration: none;
    color: #f5f5f5;
    font-size: 17px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 4px;
    border-radius: 4px;
}



.toolbar_sidebar_lists a:hover,
.toolbar_sidebar_lists a:active {
   color: rgb(56, 212, 186);
   text-decoration: none;

}
.toolbar_sidebar_lists ul{

    justify-content: flex-start;
    align-items: left;
   
    list-style: none;
    height: 100px;

}

.toolbar_sidebar_lists li{
    justify-content: center;
    padding:0 0.2rem;
    display:flex;
    list-style: none;
    margin: 50px 0;

}




.spacer {
    flex: 1;
}