@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');



.form-style-9{
	max-width: 75%;
	background: rgb(46, 59, 85);
	padding: 0;
	margin: 10px auto;
	box-shadow: 1px 1px 25px rgba(104, 17, 17, 0.35);
	border-radius: 10px;
  border: 6px solid #353230;
  height: 40%
}
.form-style-9 ul{
	padding:10px;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
  min-height: 50px;
  margin-left: 2px;
  padding:10px;
  border:30px
  
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 2px;
	outline: none;
	border: 10px solid rgb(38, 54, 75);
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out
  
  

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:2px solid #dd6b0d;
}
.form-style-9 ul li .field-split{
  width: 49%;
  height: 60px;
  
 
  
  
 

}
.form-style-9 ul li .field-full{
  width: 98%;
  height: 60px;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 98%;
	height: 90px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #335808;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: rgb(56, 212, 186);
	padding: 8px 18px;
	text-decoration: none;
	font: 18px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2f3302 5%, #2f3302 100%);
	background-color: #bfbbc7;
}

.appHeader{

  font-size: 30px;
  color: rgb(56, 212, 186);
  padding-left: 40px;



}




